<?xml version="1.0"?>
<config>
    <modules>
        <SY_Novaposhta>
            <version>0.1.4</version>
        </SY_Novaposhta>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <novaposhta_warehouse><to_order>*</to_order></novaposhta_warehouse>
                <novaposhta_street><to_order>*</to_order></novaposhta_street>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <house><to_order_address>*</to_order_address></house>
                <flat><to_order_address>*</to_order_address></flat>
                <note><to_order_address>*</to_order_address></note>
            </sales_convert_quote_address>
            <sales_convert_order>
                <novaposhta_warehouse><to_quote>*</to_quote></novaposhta_warehouse>
                <novaposhta_street><to_quote>*</to_quote></novaposhta_street>
            </sales_convert_order>
            <sales_convert_order_address>
                <house><to_quote_address>*</to_quote_address></house>
                <flat><to_quote_address>*</to_quote_address></flat>
                <note><to_quote_address>*</to_quote_address></note>
            </sales_convert_order_address>
        </fieldsets>
        <models>
            <sy_novaposhta>
                <class>SY_Novaposhta_Model</class>
                <resourceModel>sy_novaposhta_resource</resourceModel>
            </sy_novaposhta>
            <sy_novaposhta_resource>
                <class>SY_Novaposhta_Model_Resource</class>
                <entities>
                    <sy_novaposhta_cities>
                        <table>sy_novaposhta_cities</table>
                    </sy_novaposhta_cities>
                    <sy_novaposhta_warehouses>
                        <table>sy_novaposhta_warehouses</table>
                    </sy_novaposhta_warehouses>
                    <sy_novaposhta_streets>
                        <table>sy_novaposhta_streets</table>
                    </sy_novaposhta_streets>
                </entities>
            </sy_novaposhta_resource>
        </models>
        <blocks>
            <sy_novaposhta>
                <class>SY_Novaposhta_Block</class>
            </sy_novaposhta>
        </blocks>
        <helpers>
            <sy_novaposhta>
                <class>SY_Novaposhta_Helper</class>
            </sy_novaposhta>
        </helpers>
        <resources>
            <sy_novaposhta_setup>
                <setup>
                    <module>SY_Novaposhta</module>
                </setup>
            </sy_novaposhta_setup>
        </resources>
        <events>
            <sales_order_grid_collection_load_before>
                <observers>
                    <insert_novaposhta_status_into_collection>
                        <model>sy_novaposhta/observer</model>
                        <method>addAttributeToSalesOrderGrid</method>
                    </insert_novaposhta_status_into_collection>
                </observers>
            </sales_order_grid_collection_load_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <insert_novaposhta_status_into_grid>
                        <model>sy_novaposhta/observer</model>
                        <method>addColumnToSalesOrderGrid</method>
                    </insert_novaposhta_status_into_grid>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_model_service_quote_submit_before>
                <observers>
                    <update_shipping_method>
                        <model>sy_novaposhta/observer</model>
                        <method>updateShippingInformation</method>
                    </update_shipping_method>
                </observers>
            </sales_model_service_quote_submit_before>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>SY/novaposhta.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <routers>
            <novaposhta>
                <use>standard</use>
                <args>
                    <module>SY_Novaposhta</module>
                    <frontName>novaposhta</frontName>
                </args>
            </novaposhta>
        </routers>
        <layout>
            <updates>
                <sy_novaposhta>
                    <file>SY/novaposhta.xml</file>
                </sy_novaposhta>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SY_Novaposhta_Adminhtml before="Mage_Adminhtml">SY_Novaposhta_Adminhtml</SY_Novaposhta_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sy_novaposhta>
                    <file>SY/novaposhta.xml</file>
                </sy_novaposhta>
            </updates>
        </layout>
    	<translate>
            <modules>
                <translations>
                    <files>
                        <default>SY/novaposhta.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <menu>
        	<sy translate="title" module="sy_novaposhta">
	            <title>SY</title>
	            <sort_order>15</sort_order>
	            <children>
	                <novaposhta translate="title" module="sy_novaposhta">
	                    <title>Novaposhta</title>
	                    <sort_order>1</sort_order>
	                    <children>
	                    	<cities translate="title" module="sy_novaposhta">
	                    		<title>Cities</title>
	                    		<sort_order>1</sort_order>
	                    		<action>adminhtml/novaposhta_index/cities</action>
	                    	</cities>
	                    </children>
                        <children>
                            <streets translate="title" module="sy_novaposhta">
                                <title>Streets</title>
                                <sort_order>2</sort_order>
                                <action>adminhtml/novaposhta_index/streets</action>
                            </streets>
                        </children>
	                    <children>
	                    	<warehouses translate="title" module="sy_novaposhta">
	                    		<title>Warehouses</title>
	                    		<sort_order>3</sort_order>
	                    		<action>adminhtml/novaposhta_index/warehouses</action>
	                    	</warehouses>
	                    </children>
	                </novaposhta>
	            </children>
	        </sy>
        </menu>
    </adminhtml>
    <crontab>
        <jobs>
            <sy_novaposhta_update_orders_status>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>sy_novaposhta/observer::updateStatuses</model>
                </run>
            </sy_novaposhta_update_orders_status>
            <sy_novaposhta_download_cities_and_warehouses>
                <schedule>
                    <config_path>carriers/sy_novaposhta/update_cron</config_path>
                </schedule>
                <run>
                    <model>sy_novaposhta/observer::downloadData</model>
                </run>
            </sy_novaposhta_download_cities_and_warehouses>
            <sy_novaposhta_update_cities_and_warehouses>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>sy_novaposhta/observer::updateData</model>
                </run>
            </sy_novaposhta_update_cities_and_warehouses>
        </jobs>
    </crontab>
    <default>
        <carriers>
            <sy_novaposhta>
                <active>0</active>
                <sallowspecific>1</sallowspecific>
                <specificcountry>UA</specificcountry>
                <model>sy_novaposhta/carrier_novaposhta</model>
                <title>Новая Почта</title>
                <specificerrmsg>Этот способ доставки на текущий момент не доступен. Если вы желаете, чтобы мы доставили заказ Новой Почтой, обратитесь к менеджеру интернет-магазина.</specificerrmsg>
                <default_length>20</default_length>
                <default_width>20</default_width>
                <default_height>20</default_height>
                <default_weight>20</default_weight>
                <complete_status>Доставлено</complete_status>
                <on_air>1</on_air>
                <update_cron>0 0 * * *</update_cron>
                <developer>Slava Yurtev</developer>
            </sy_novaposhta>
        </carriers>
    </default>
</config>